@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');

:root {
  --background: #121212;
  --foreground: #1A1A1A;
}
body{
  background-color: var(--background);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  scroll-behavior:smooth;
  overflow-x: hidden;
}
.wrapper{
  padding: 1rem;
}
/* Webkit-based browsers (Chrome, Edge, Safari) */
body::-webkit-scrollbar {
  width: 5px; /* Thin scrollbar */
}

body::-webkit-scrollbar-track {
  background: #1a1a1a; /* Dark track color */
  border-radius: 10px; /* Round corners */
}

body::-webkit-scrollbar-thumb {
  background: #333; /* Darker thumb */
  border-radius: 10px; /* Round corners */
}

body::-webkit-scrollbar-thumb:hover {
  background: #444; /* Slightly lighter on hover */
}

/* Firefox */
body* {
  scrollbar-width: thin;
  scrollbar-color: #333 #1a1a1a;
}
