.circle {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  opacity: 0.7;
}
.circle:hover {
  opacity: 1;
}
.circle:active{
  transform: scale(0.9);
}
.navbar {
  background-color: var(--foreground);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 1rem;
  border-radius: 60px;
  width: 55%;
  margin: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
.navbar ul {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 0.2rem;
}
.navbar ul a {
  text-decoration: none;
  color: white;
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0.3rem 0.8rem;
  transition: all 0.3s ease;
  border-radius: 60px;
}
.navbar ul a:hover {
  background-color: white;
  color: black;
}
.navbar ul a:active {
  opacity: 0.5
}
.resume {
  text-decoration: none;
  color: white;
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: black;
  padding: 0.6rem 1.2rem;
  border-radius: 60px;
  transition: all 0.3s ease;
}
.resume:hover {
  background-color: white;
  color: black;
  transform: translateY(-0.2rem);
}
.resume:active {
  opacity: 0.5;
  transform: translateY(0);
}
